body {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding-top: 100px;
    background: url(img/Screenshot\ \(756\).png);
}

#container {
    margin: 20px auto;
    height: 600px;
    width: 700px;
    border-radius: 5px;
    position: relative;
    padding-top: 100px;
}

#start {
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width: 180px;
    height: 150px;
    border: 3px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 280px;
    top: 100px;
    color: lightslategrey;
}

#start:hover {
    border: 3px solid black;
    color: crimson;
}

#qImg {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#qImg img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 5px;
}

#question {
    width: 500px;
    height: 125px;
    position: absolute;
    right: 0;
    top: 0;
}

#question p {
    margin: 0;
    padding: 15px;
    font-size: 1.25em;
    color: white;
}

#choices {
    width: 480px;
    position: absolute;
    right: 0;
    top: 125px;
    padding: 10px
}

.choice {
    display: inline-block;
    height: 30px;
    width: 400px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: lightpink;
}

.choice:hover {
    border: 3px solid black;
    font-weight: bold;
    background-color: cornsilk;
}

#timer {
    position: absolute;
    height: 100px;
    width: 200px;
    bottom: 0px;
    text-align: center;
}

#counter {
    font-size: 3em;
}

#btimeGauge {
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 25px;
}

#timeGauge {
    height: 10px;
    border-radius: 10px;
    background-color: crimson;
    margin-top: -10px;
    margin-left: 25px;
}

#progress {
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    text-align: right;
}

.prog {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

#scoreContainer {
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

#scoreContainer img {
    position: absolute;
    top: 100px;
    left: 325px;
}

#scoreContainer p {
    position: absolute;
    display: block;
    top: 130px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.button {
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

#box {
    padding-left: 500px;
}