/*Created By Nitish Sahani*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    height: 100vh;
    /*    background: linear-gradient(57deg , #00c6a7, #1e4d92);*/
    background-image: linear-gradient(to right, rgb(212, 52, 84) 0%, #dd75a0 100%);
    /*    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);*/
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 0% 100%);
}

h1{
    font-style: monospace;
}
p{
    font-style: monospace;
}

li{
    font-style: monospace;
    
}
nav {
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
}

.logo {
    width: 50%;
    height: 100px;
}

.logo h1 {
    line-height: 100px;
    padding-left: 50px
}

.menu {
    width: 50%;
    height: 100px;
}

.menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

section {
    display: flex;
}

.leftside {
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}

.leftside img {
    width: 600px;
    height: 500px;
    padding-left: 100px;
}

.rightside {
    width: 55%;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 80px;
    padding: 40px
}

.rightside h1 {
    font-size: 50px;
    font-weight: 900;
}

.rightside p {
    font-size: 1.1rem;
    padding: 30px 0px;
}

.rightside button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: rgb(241, 23, 96);
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 2px, 2px black;
    border-color: rgb(241, 23, 96);
}

.rightside button:hover {
    background: white;
    color: rgb(241, 23, 96);;
}


/*---------------------------------------*/

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 50%;
    left: 23%;
}